<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Bem vindo ao Blog</h1>
  <p class="lead">Esse blog tem o intuito de ajudar programadores de todos os níveis.</p>
  <hr class="my-4">
  <p>Crie uma conta para poder ficar por dentro das atualizações.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
</div>

<hr>

<h2>Postagens recentes : </h2>

{{#each postagens}}
<div class="card mt-4">
  <div class="card-body">
    <h3>{{titulo}}</h3>
    <p>{{descricao}}</p>
    <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
    <hr>
    <small>{{categoria.nome}}</small>
    <br>
    <small>Data de publicação: {{data}}</small>
  </div>
</div>
{{else}}
  <h5>Nenhuma postagem</h5>
{{/each}}